<body id="body-login">
  <section class="block-login">
  <h1>Ravis de vous revoir !</h1>
    <form action="/login" method="POST">
      <div class="formulaire-login">
       <li>
        <label for="email">E-mail :</label>
        <input id="email" type="email" name="email">
       </li>

      <li>
        <label for="password">Mot de passe :</label>
       <input id="password" type="password" name="password">
      </li> 
      </div>

    {{#if errorMessage}}
      <div class="error-message">{{errorMessage}}</div>
    {{/if}}
  
      <button type="submit" class="connect-button2">
        SE CONNECTER
     </button>

      <div class="facebook-button">
      <img src="./images/facebook.png" class="facebook">
      <a href="/login/facebook">Continuer avec Facebook</a>
      </div>


</form>

  <a href="/signup">Vous n'avez pas de compte ?</a>

</section>
</body>