<h1>Bienvenue</h1>
<form action="/signup" method="POST">
<div class="formulaire-signup">
  <label for="email">Email:</label>
  <input id="email" type="text" name="email">
  
  <label for="password">Mot de passe:</label>
  <input id="password" type="password" name="password">
  </div>

  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}
  
  <button type="submit" class="connect-button">
    SE CONNECTER
  </button>
</form>

<div class="account-message">
  <p>Vous avez déjà un compte ?</p>
  <a href="/login">Log in</a>
</div>
