<body id ="body-signup">
  <section class="block-signup">
    <img src="/images/logo.png" class="big-logo">
    <h1>Bienvenue </h1>
      <form action="/signup" method="POST">
  <div class="formulaire-signup">
    <li>
  <label for="email">E-mail :</label>
  <input id="email" type="text" name="email">
  </li>
  <li>
  <label for="password">Mot de passe :</label>
  <input id="password" type="password" name="password">
  </li>

  </div>

  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}
  
  <button type="submit" class="connect-button">
    CRÉER UN COMPTE
  </button>
</form>

  <div class="facebook-button">
      <img src="./images/facebook.png" class="facebook">
      <a href="/login/facebook">Continuer avec Facebook</a>
      </div>


  <p>Déjà membre ?  <a href="/login" class="back-login"> Se connecter</a></p>

</section>
</body>