<body class="body-index">
<header>
    <nav>
       <div class="links">
           <a href="/login" class="links1">Se connecter</a>
            <a href="/signup" class="links2">S'inscrire</a>
        </div>
      
    </nav>

</header>

    

<section class="responsive-index">
        <img src="/images/couverture.jpg" class="homepage-image">

    <div class="description">
            <h1 class="h1-index">COMMENT ÇA MARCHE ?</h1>
        <div class="first">
            <h3>Crée ton compte</h3>
            <p>Définis ton style, publie les photos de tes tenues préférées en donnant des informations sur les boutiques et le prix !</p>
        </div>

        <div class="second">
            <h3>Abonne-toi pour suivre d'autres utilisatrices</h3>
            <p>Selon les styles que tu aimes et les lieux où tu fais ton shopping.</p>
        </div>

        <div class="third">
            <h3>Commente et like</h3>
            <p>Trouve et partage des bons plans et astuces shopping avec les autres utilisatrices.</p>
        </div>
    </div>

</section>    

</body>