<header>
    <nav>
        <div>
            <img src="./images/logo.png" class="logo">
        </div>

        <div>
            <a href="/signup">Sign up</a>
            <a href="/login">Log in</a>
        </div>
    </nav>

    <div class="background-home"></div>

    <div class="description">
        <h1>COMMENT ÇA MARCHE ?</h1>

        <div class="first">
            <h5>Crée ton compte</h2>
            <p>Définis ton style, publie les photos de tes tenues préférées en donnant des informations sur les boutiques et le prix !</p>
        </div>

        <div class="second">
            <h5>Suis les autres utilisateurs</h2>
            <p>selon les styles que tu auras séléctionnés dans ta wishlist</p>
        </div>

        <div class="third">
        <h5>Commente et like les styles que tu aimes</h2>
        <p>Trouve et partage des bons plans et astuces avec les autres utilisateurs</p>
        </div>
    </div>
</header>
