/* couleur principale :  #80e4d5
font : #af5b79*/

*, :before, :after {box-sizing:border-box;}
body {
  padding: 0;
  margin: 0;
  font-family:'Quicksand', sans-serif;
  background: white;

}
/* 

██╗███╗   ██╗██████╗ ███████╗██╗  ██╗   ██╗  ██╗██████╗ ███████╗
██║████╗  ██║██╔══██╗██╔════╝╚██╗██╔╝   ██║  ██║██╔══██╗██╔════╝
██║██╔██╗ ██║██║  ██║█████╗   ╚███╔╝    ███████║██████╔╝███████╗
██║██║╚██╗██║██║  ██║██╔══╝   ██╔██╗    ██╔══██║██╔══██╗╚════██║
██║██║ ╚████║██████╔╝███████╗██╔╝ ██╗██╗██║  ██║██████╔╝███████║
╚═╝╚═╝  ╚═══╝╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝╚═╝  ╚═╝╚═════╝ ╚══════╝
 */

nav{
  display:flex;
  flex-wrap: wrap; 
  justify-content:space-between;
  position: fixed;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #edeaeb;
  width: 100%;
  height: 70px;
  background-color: white;
  padding: 0;
}

.logo-index {
  width: 59px;
  height: 59px; 
  position: absolute;
  top: 4px;
  left: 10px; 
}

 nav, a {
   text-decoration: none;
   color: black;
   font-size: 17px;
   margin-right: 20px;
   padding: 20px 0;
 }


.homepage-image{
  background-image: url('/images/couverture.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px; 
}

.description{
  display: flex; 
  flex-direction: column; 
  text-align: center;
  background-color: white;
  margin: 15px; 
}


.first {
  margin-bottom: 25px;
  background-color:  #ffcec4;
  border-radius:  50% 20% / 10% 40%;
}

.second {
  margin-bottom: 25px;
  background-color:  #ddb2b3;
  border-radius:  20% 50% / 10% 40%;
}

.third {
  margin-bottom: 25px;
  background-color:  rgba(223, 168, 168, 0.99); 
  border-radius:  80% 20% / 10% 60%;
}

.second, h3 {
  padding-right: 18px;
  font-size: 16px;
}

.description, p {
  font-size: 14px;
  padding: 10px;
}

/* 

███████╗██╗ ██████╗ ███╗   ██╗██╗   ██╗██████╗ ██╗  ██╗██████╗ ███████╗
██╔════╝██║██╔════╝ ████╗  ██║██║   ██║██╔══██╗██║  ██║██╔══██╗██╔════╝
███████╗██║██║  ███╗██╔██╗ ██║██║   ██║██████╔╝███████║██████╔╝███████╗
╚════██║██║██║   ██║██║╚██╗██║██║   ██║██╔═══╝ ██╔══██║██╔══██╗╚════██║
███████║██║╚██████╔╝██║ ╚████║╚██████╔╝██║██╗  ██║  ██║██████╔╝███████║
╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝ ╚═════╝ ╚═╝╚═╝  ╚═╝  ╚═╝╚═════╝ ╚══════╝
*/                                                                      

#body-signup{
  background-color:#e0e0df;
}

.block-signup{
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
  height: 97vh;
  margin-top: 10px;
  box-shadow:0px 0px 10px 5px #b8b8b6;
  border-radius: 18px;
}

.block-signup, h1 {
  text-align: center;
  font-size: 19px;
  margin-top: 14px;
}   

.formulaire-signup {
  display: flex; 
  flex-direction: column;
  align-items: center;;
  width: 295px;
  margin-right: auto;
  margin-left: auto;
}



.big-logo {
  margin-top: 50px;
  width: 215px;
  height: 110px;
}

.formulaire-content {
  width: 295px;
  height: 52px;
  margin-left: 23px;
}

#email{
  width: 180px;
}

input, textarea{
  border  : none;
  padding : 0 10px;
  width: 160px;
  height: 25px;
}

li {
	display: block;
	padding: 6px;
	border:1px solid #DDDDDD;
	margin-bottom: 25px;
	border-radius: 3px;
}

.connect-button {
  font-family: 'Quicksand', sans-serif;
  border-radius: 2em;
  padding: 18px 60px;
  font-size: 14px;
  background-color:#80e4d5;
  border-color: transparent;
  margin: 20px 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.block-signup, a{
  font-size: 15px;
  text-align: center;

}

.back-login {
  color: #af5b79;
  font-weight: 900;
}

/* 
██╗      ██████╗  ██████╗ ██╗███╗   ██╗   ██╗  ██╗██████╗ ███████╗
██║     ██╔═══██╗██╔════╝ ██║████╗  ██║   ██║  ██║██╔══██╗██╔════╝
██║     ██║   ██║██║  ███╗██║██╔██╗ ██║   ███████║██████╔╝███████╗
██║     ██║   ██║██║   ██║██║██║╚██╗██║   ██╔══██║██╔══██╗╚════██║
███████╗╚██████╔╝╚██████╔╝██║██║ ╚████║██╗██║  ██║██████╔╝███████║
╚══════╝ ╚═════╝  ╚═════╝ ╚═╝╚═╝  ╚═══╝╚═╝╚═╝  ╚═╝╚═════╝ ╚══════╝
*/

#body-login{
  background-color:#e0e0df;
  margin: 0;
}

.block-login{
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
  height: 97vh;
  margin-top: 10px;
  box-shadow:0px 0px 10px 5px #b8b8b6;
  border-radius: 18px;
}
.block-login, h1 {
  text-align: center;
  padding: 13px 0;
} 

.h1-auth {
  color: #af5b79;
}

.formulaire-login {
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 295px;
  margin-right: auto;
  margin-left: auto;
}

.formulaire-contentlog {
  width: 295px;
  height: 52px;
}


li{
	display: block;
	padding: 6px;
	border:1px solid #DDDDDD;
	margin-bottom: 25px;
	border-radius: 3px;
}

.connect-button2 {
  font-family: 'Quicksand', sans-serif;
  border-radius: 2em;
  padding: 18px 60px;
  font-size: 14px;
  background-color:#80e4d5;
  border-color: transparent;
  margin: 20px 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.block-login, a{
  font-size: 15px;
  text-align: center;
  padding-bottom: 30px;
}

#button-profile {
  font-family:'Quicksand', sans-serif;
  border-radius: 2em;
  padding: 16px 65px;
  font-size: 15px;
  background-color:#d687a3;
  color: white;
  border-color: transparent;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  margin-top: 40px;
}

.facebook-button {
  background-color: #DDDDDD;
  border-radius: 3px;
  width: 295px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  margin-bottom: 40px;
  background-image: url('/images/facebook.png');
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: 5% 50%;
}

.facebook-button a {
  padding: 15px 59px;
  margin: 0
}
/* 
██████╗██████╗ ███████╗ █████╗ ████████╗███████╗██████╗ ██████╗  ██████╗ ███████╗██╗██╗     ███████╗
██╔════╝██╔══██╗██╔════╝██╔══██╗╚══██╔══╝██╔════╝██╔══██╗██╔══██╗██╔═══██╗██╔════╝██║██║     ██╔════╝
██║     ██████╔╝█████╗  ███████║   ██║   █████╗  ██████╔╝██████╔╝██║   ██║█████╗  ██║██║     █████╗  
██║     ██╔══██╗██╔══╝  ██╔══██║   ██║   ██╔══╝  ██╔═══╝ ██╔══██╗██║   ██║██╔══╝  ██║██║     ██╔══╝  
╚██████╗██║  ██║███████╗██║  ██║   ██║   ███████╗██║     ██║  ██║╚██████╔╝██║     ██║███████╗███████╗
 ╚═════╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝╚══════╝
*/

.nav-create {
  font-size: 20px;
  text-align: center;
  background-color: #80e4d5;
  padding-top: 8px;
}

.contenu-profile{
  padding: 20px;
  color: black;
}

.contenu-profile, label {
  display: flex; 
  flex-direction: column;
  font-size: 14px;
}

.contenu-profile li {
  margin-top: 20px;
  border:1px solid #80e4d5;
}

.contenu-profile input {
  width: 100%;
}

#bio {
  width: 100%;
  height: 80px;
}

.legende {
  border-radius: 10px;
  border:3px solid #DDDDDD;
  margin: 0 12px;
  padding: 10px;
}

#legende-area {
  width: 100%; 
  height: 200px;
}

#post-pic {
  background-color: #DDDDDD;
  margin: 25px 12px;
  padding: 10px;
  border:3px solid #DDDDDD;
  border-radius: 10px;
}

/* 
████████╗██╗███╗   ███╗███████╗██╗     ██╗███╗   ██╗███████╗
╚══██╔══╝██║████╗ ████║██╔════╝██║     ██║████╗  ██║██╔════╝
   ██║   ██║██╔████╔██║█████╗  ██║     ██║██╔██╗ ██║█████╗  
   ██║   ██║██║╚██╔╝██║██╔══╝  ██║     ██║██║╚██╗██║██╔══╝  
   ██║   ██║██║ ╚═╝ ██║███████╗███████╗██║██║ ╚████║███████╗
   ╚═╝   ╚═╝╚═╝     ╚═╝╚══════╝╚══════╝╚═╝╚═╝  ╚═══╝╚══════╝
*/

.nav-timeline {
  display:flex;
  flex-wrap: wrap; 
  justify-content:space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  border-bottom-style: ridge;
  border-bottom-width: 1.4px;
}

.marge {
  margin-bottom: 60px;
}

.logo {
  position: absolute;
  top: 10%;
  left: 4%;
  width: 56px;
  height: 50px;
}

.add-post{
  position: absolute;
  top: 15%;
  left: 44%;
  width: 49px;
  height: 49px; 
}

.nav-avatar{
  position: absolute;
  top: 15%;
  right: 5%;
  border-radius: 50%;
  width: 49px;
  height: 49px;
}

.avatar {
  border-radius: 50%;
  width: 49px;
  height: 49px;
  margin-left: 5px;
}


.post {
  width: 100%;
  background: white;
}

.post-pic {
  width: 100%;
  min-height: 200px;
  max-height: 400px;
}

.head-post {
  display:flex;
  height: 70px;
  margin-bottom: 5px;
}

.date {
  color: grey;
  font-size: 12px;
  position: absolute; 
  right: 5px;

}

.username {
  padding: 30px 5px;
  margin: 0; 
  font-weight: 900;
  font-size: 15px;
}

.modif-post {
  display: flex;
  justify-content: flex-end;
  height: 34px
}

.legende2 {
  font-size: 14px;
  width: 85%;
  border-radius: 10px;
  border:1px solid #80e4d5;

}

.post-legende {
  display: flex;
  border-bottom-style: ridge;
  border-bottom-width: 1.4px;
}

.edit-post {
  width: 25px;
  height: 25px;

}

.delete-post {
  width: 25px;
  height: 25px;
}



/* 
██████╗  ██████╗ ███████╗████████╗ █████╗ ██████╗ ██████╗ 
██╔══██╗██╔═══██╗██╔════╝╚══██╔══╝██╔══██╗██╔══██╗██╔══██╗
██████╔╝██║   ██║███████╗   ██║   ███████║██║  ██║██║  ██║
██╔═══╝ ██║   ██║╚════██║   ██║   ██╔══██║██║  ██║██║  ██║
██║     ╚██████╔╝███████║   ██║   ██║  ██║██████╔╝██████╔╝
╚═╝      ╚═════╝ ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚═════╝ 
*/

#post-add h1 {
  font-size: 20px;
  font-style: bold;
  text-align: center;
}

#post-add label {
  display: flex; 
  flex-direction: column;
}

.post-button { 
  font-family:'Quicksand', sans-serif;
  border-radius: 2em;
  padding: 18px 55px;
  font-size: 14px;
  background-color:#80e4d5;
  border-color: transparent;
  margin: 40px 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 180px;
}

.quitter {
  text-align: center;
  font-style: italic;
  font-size: 15px;
}

/* 
 ██████╗  ██████╗ ███████╗████████╗███████╗██████╗ ██╗████████╗
 ██╔══██╗██╔═══██╗██╔════╝╚══██╔══╝██╔════╝██╔══██╗██║╚══██╔══╝
 ██████╔╝██║   ██║███████╗   ██║   █████╗  ██║  ██║██║   ██║   
 ██╔═══╝ ██║   ██║╚════██║   ██║   ██╔══╝  ██║  ██║██║   ██║   
 ██║     ╚██████╔╝███████║   ██║   ███████╗██████╔╝██║   ██║   
 ╚═╝      ╚═════╝ ╚══════╝   ╚═╝   ╚══════╝╚═════╝ ╚═╝   ╚═╝   
*/



/* 
██████╗ ██████╗  ██████╗ ███████╗██╗██╗     ███████╗
██╔══██╗██╔══██╗██╔═══██╗██╔════╝██║██║     ██╔════╝
██████╔╝██████╔╝██║   ██║█████╗  ██║██║     █████╗  
██╔═══╝ ██╔══██╗██║   ██║██╔══╝  ██║██║     ██╔══╝  
██║     ██║  ██║╚██████╔╝██║     ██║███████╗███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝╚══════╝
*/

.nav-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 215px;
  padding-top: 20px;
  border-bottom-style: ridge;
  border-bottom-width: 1.4px;
}

/* 
███╗   ███╗██╗   ██╗██████╗ ██████╗  ██████╗ ███████╗██╗██╗     ███████╗
████╗ ████║╚██╗ ██╔╝██╔══██╗██╔══██╗██╔═══██╗██╔════╝██║██║     ██╔════╝
██╔████╔██║ ╚████╔╝ ██████╔╝██████╔╝██║   ██║█████╗  ██║██║     █████╗  
██║╚██╔╝██║  ╚██╔╝  ██╔═══╝ ██╔══██╗██║   ██║██╔══╝  ██║██║     ██╔══╝  
██║ ╚═╝ ██║   ██║   ██║     ██║  ██║╚██████╔╝██║     ██║███████╗███████╗
╚═╝     ╚═╝   ╚═╝   ╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝╚══════╝
*/

.nav-myprofile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;
  padding-top: 20px;
  border-bottom-style: ridge;
  border-bottom-width: 1.4px;

}
.avatar-profile {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.username-profile{
  padding: 7px 0 3px 0;
  margin: 0
}

.bio {
  font-size: 14px;
  padding: 5px 0;
  margin: 0;
  font-weight: 300;
}

.city {
  margin: 0;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 300;
  color: grey;
}

.location {
  width: 13px;
  height: 19px;
  margin-right: 7px;
}

.modif-button {
  border-radius: 1em;
  font-size: 14px;
  font-weight: 900;
  background-color:#80e4d5;
  border-color: transparent;
  color: white;
  padding: 9px;
  margin: 0
}

.post-avatar{
  border-radius: 50%;
  width: 49px;
  height: 49px;
  margin-left: 5px;
  margin-top: 15px;
}

.footer-profile {
  display: flex;
  flex-wrap: wrap; 
  justify-content:space-between;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%; 
  height: 55px;
  padding: 8px;
  background: #d2d2d2;
}

.timeline-img {
  position: absolute;
  bottom: 14%;
  left: 5%;
  width: 35px;
  height: 35px;

}

.addpost {
  position: absolute;
  bottom: 11%;
  right: 45%;
  width: 40px;
  height: 40px
}

.logout {
  position: absolute;
  bottom: 17%;
  right: 5%;
  width: 35px;
  height: 35px
}

.marge-profile {
  margin-top: 55px;
}

/* 
 ██╗   ██╗██████╗ ██████╗  █████╗ ████████╗███████╗██████╗ ██████╗  ██████╗ ███████╗██╗██╗     ███████╗
 ██║   ██║██╔══██╗██╔══██╗██╔══██╗╚══██╔══╝██╔════╝██╔══██╗██╔══██╗██╔═══██╗██╔════╝██║██║     ██╔════╝
 ██║   ██║██████╔╝██║  ██║███████║   ██║   █████╗  ██████╔╝██████╔╝██║   ██║█████╗  ██║██║     █████╗  
 ██║   ██║██╔═══╝ ██║  ██║██╔══██║   ██║   ██╔══╝  ██╔═══╝ ██╔══██╗██║   ██║██╔══╝  ██║██║     ██╔══╝  
 ╚██████╔╝██║     ██████╔╝██║  ██║   ██║   ███████╗██║     ██║  ██║╚██████╔╝██║     ██║███████╗███████╗
  ╚═════╝ ╚═╝     ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝╚══════╝
*/
