<form action="/signup" method="POST">
    <label for="username">Username</label>
    <input id="username" type="text" name="username">

    <label for="email">Email</label>
  <input id="email" type="text" name="email">
  
  <label for="password">Mot de passe</label>
  <input id="password" type="password" name="password">
  
  <button type="submit">
    SE CONNECTER
  </button>
</form>

<a href="/login">Vous avez déjà un compte ?</a>