<form action="/signup" method="POST">
    <label for="username">Username</label>
    <input id="username" type="text" name="username">

    <label for="email">Email</label>
  <input id="email" type="text" name="email">
  
  <label for="password">Mot de passe</label>
  <input id="password" type="password" name="password">

  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}
  
  <button type="submit">
    SE CONNECTER
  </button>
</form>

<p class="account-message">Vous avez déjà un compte ?</p>
<a href="/login"></a>