<header>
    <nav>
      <a href="">
        {{!-- ici mettre la search bar --}}
        <img src="" class="search-img"> 
      </a>

      <a href="/views/posts/post-add.hbs">
        <img src="/public/images/add.png" class="add-post">
      </a>

      <img src="/public/images/icondefault.png" class="icon-default">

    </nav>

    {{!-- les posts à faire --}}
</header>